.cancel{
  color: rgb(1, 6, 11);
  font-size: 90%;
  size-adjust: 70px;
  margin-left: 28%;

}
.user{
  padding-left:20%;
  padding-top: 10%;
}
.details{
  padding-left:20%;
}

.textholder{
  padding: 10%;
  padding-left: 20%;
  width: 70%;
  height: 5%;
  padding-right: 5%;
  margin-left: 2%;
}


.name1{
  display: flex;
  flex-direction: row;
  font-size: 100%;
  margin-left: 20%;
  margin-right: 5%;

}

.name2{
  display: flex;
  flex-direction: row;
  font-size: 100%;
  margin-left: 20%;
}

.submit{
  color: aliceblue;
  font-size: 90%;
  size-adjust: 70px;
  margin-left: 1%;
  background: #000;;
  border-style: solid;
}